/* Global Font: Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "Inter", sans-serif;
    background-color: #f9fafb;
}
.nav-bar {
    box-shadow: 1px 1px 2px rgb(67, 67, 67);
}
.nav-pages li {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.nav-pages li:hover {
    background-color: #2f5afb;
    color: white;
}
.nav-right-sm i:hover {
    color: #2f5afb;
}
.facility-section {
    box-shadow: 1px 1px 2px rgb(219, 219, 219);
}
.category-box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 1;
    cursor: pointer;
}
.category-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.4s ease;
}

.category-box:hover::before {
    transform: scale(1.25);
}

#categ-box1::before {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/electronics.jpeg");
}
#categ-box2::before {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/jewelry.jpeg");
}
#categ-box3::before {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/mens-clothing.jpeg");
}
#categ-box4::before {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/womens-clothing.jpeg");
}
.add-cart-btn:hover {
    cursor: pointer;
}

@media (min-width: 250px) and (max-width: 639px) {
    .nav-bar {
        padding: 20px;
    }
    .nav-right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
    }
    .small-nav-pages {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .small-nav-pages li {
        background-color: #f7f7f7;
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgb(212, 212, 212);
    }
    .small-nav-pages li:hover {
        background-color: #2f5afb;
        color: white;
    }
    .nav-right-icon {
        display: flex;
        gap: 15px;
        font-size: 20px;
    }
    .nav-right-icon i:hover {
        color: #2f5afb;
    }
    .hamburger-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .hide-item {
        display: none;
    }
    #hamburger-ic,
    #cross-ic {
        pointer-events: none;
    }
    #hamburger-icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 50%;
        box-shadow: 5px 5px 20px rgb(219, 219, 219);
    }
    .category-box {
        height: 150px;
        width: 150px;
        font-size: 1.25rem;
        text-align: center;
    }

    .categories {
        justify-content: center;
        gap: 20px;
    }
    .featured-text-container {
        flex-direction: column;
    }

    .featured-cards {
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }
}


