/* Global Font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #F9FAFB;
}
.nav-bar {
    box-shadow: 1px 1px 2px rgb(67, 67, 67);
}
.nav-pages li {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.nav-pages li:hover {
    background-color: #2F5AFB;
    color: white;
}
.nav-right-sm i:hover {
    color: #2F5AFB;
}
.facility-section {
    box-shadow: 1px 1px 2px rgb(219, 219, 219);
}

@media (min-width: 250px) and (max-width: 639px) {
    .nav-bar {
        padding: 20px;
    }
    .nav-right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
    }
    .small-nav-pages {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .small-nav-pages li {
        background-color: #f7f7f7;
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgb(212, 212, 212);
    }
    .small-nav-pages li:hover {
        background-color: #2F5AFB;
        color: white;
    }
    .nav-right-icon {
        display: flex;
        gap: 15px;
        font-size: 20px;
    }
    .nav-right-icon i:hover {
        color: #2F5AFB;
    }
    .hamburger-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* .hamburger-hide {
        display: none;
    } */
    .hide-item {
        display: none;
    }
    #hamburger-ic, #cross-ic {
        pointer-events: none;
    }
    #hamburger-icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 50%;
        box-shadow: 5px 5px 20px rgb(219, 219, 219);
    }
}